// ---------------------------------------------------------------------------
// Imports

@import "susyone";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds: true;


// ---------------------------------------------------------------------------
// Color

$background-color: #fff;
$text-color: #444;


$accent-dark: #5C3F8D; // Slightly darker Purple for title and visited links.
$accent-main: #684B98; // Purple
$accent-light: #BE75CB; // Pink

$grey-dark: #363636; // tag cloud
$grey-medium: #555; //Headers
$grey-light: #ddd; // Primary accent

// ---------------------------------------------------------------------------
// Typography

$font-family-main: 'Lato', Verdana, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
$font-family-title: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;

// ---------------------------------------------------------------------------
// Mixins

@mixin link-button {
    padding: 5px;
    display: block;
    background-color: lighten($grey-light, 5%);
    margin-bottom: .5em;
    &:hover {
        background-color: $accent-main;
        color: white;
        text-decoration: none;
   }
   &:active {
        background-color: $accent-light;
   }
}

@mixin line-button {
    &:before {
        content: "\2014\0020";
    }
}