@mixin link-button {
    min-height: 1.5 * $base-line-height;
    padding: rhythm(.25);
    display: block;
    background-color: lighten($grey-light, 5%);
    margin-bottom:.5em;
    border: 0;
    &:hover {
        background-color:$accent-main;
        color:white;
        text-decoration: none;
   }
   &:active {
        background-color:$accent-light;
   }
}

@mixin line-button {
    &:after {
        content: "\00A0\0020";
    }
}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

@mixin boxed ($colour: $grey-light) {
  background-color:$colour;
  padding: $base-spacing / 3 * 2;
}
