@mixin link-button {
    min-height: 1.5 * $base-line-height;
    padding: rhythm(.25);
    display: block;
    background-color: lighten($grey-light, 5%);
    margin-bottom:.5em;
    border: 0;
    &:hover {
        background-color:$accent-main;
        color:white;
        text-decoration: none;
   }
   &:active {
        background-color:$accent-light;
   }
}

@mixin line-button {
    &:before {
        content: "\2014\0020";
    }
}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 