@import "susy";
@import "base";
@import "compass";
@import "blueprint/form";

/* -------------------------------------------------------------------------*/
/*  
Table of Contents 
=======================
-- General HTML Elements
---- Layout
---- General Styles
---- Headings
---- Links
-- Navigation
---- General Navigation Elements
---- Mega-Menu Navigation
-- Forms
---- Search
---- Advanced Search
-- Tables
-- Content
---- Browse and Item Pages
---- Collections
---- TagCloud
-- Plugins
---- Simple Pages
---- Geolocation
---- Exhibits
*/

/* -------------------------------------------------------------------------*/
/* Layout */
#wrap {
    @include container;
    overflow: auto;
}

#search-container {@include span-columns(12 omega);}
.nav-menu {@include span-columns(12); margin-right:0;}
#content {@include span-columns(12 omega);}
.pagination {@include span-columns(12);}
#item-filters {@include span-columns(12 omega);}
#sort-links {@include span-columns(12);}
#outputs {@include span-columns(12);}
#advanced-search-form label {@include span-columns(12);}
#advanced-search-form .inputs {@include span-columns(12 omega);}
.hentry .item-img {@include span-columns(12 omega);}
.hentry .item-description {@include span-columns(12 omega);}
footer {@include span-columns(12 omega);}


/* -------------------------------------------------------------------------*/
/* General Styles */
body {
    background-color: $background-color;
    font-family: $font-family-main;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    margin: 0;
}
.element-set,
.item,
.element, 
.collection,
.exhibit, 
.hTagcloud {
    padding: 1em 0;
    overflow: auto;
    clear: both;
}
#featured-item,
#featured-collection,
#featured-exhibit, 
#recent-items {
    overflow: auto;
    margin: 1em 0 1.5em 0;
}
.intro {
    font-style: italic;
}
#content {
    padding: 1em 0 2em 0;
    overflow: auto;
}
abbr, 
acronym {
    border: none;
    font-style: normal;
}
.clear {
    clear: both;
}
a.show {
    padding-left: 5px; font-style: italic;
}
blockquote {
    font-style: italic;
}
.view-items-link {
    margin: 1em 0 .5em 0;
    a {
        @include link-button;
        display: inline;
    }
}
#outputs {
    margin-top: 1em;
}
footer {
    padding: .5em 0;
    overflow: auto;
    border-top: 5px double $grey-light;
}
/* -------------------------------------------------------------------------*/
/* Headings */

#{headings()} {
    font-family: $font-family-title;
    font-weight: normal;
    line-height: $base-line-height * 1.5;
    padding: .5em 0;
    margin: 0;
    color: $grey-medium;
}
#{headings(4,6)} {
    font-style: $base-font-size * 1.2;
}
#{headings(5,6)} {
    font-weight: bold;
}
h1 {
    text-transform: uppercase;
    font-size: $base-font-size *2.5;
    clear: both;
}
h2 {
    font-size: $base-font-size * 2;
    text-transform: capitalize;
    border-top: 4px solid $grey-light;
}
h3 {
    font-size: $base-font-size * 1.5;
}
h6 {
    font-size: italic;
}
#site-title {
    color: $accent-dark;
    font-family: $font-family-title;
    font-variant: small-caps;
    font-size: $base-font-size *3.5;
    font-weight: bold;
    line-height: $base-line-height * 2;
    margin: 20px 0;
    a {
        text-decoration: none;
        color: $accent-dark;
    }
}

/* -------------------------------------------------------------------------*/
/* Links */
a {
    @include link-colors($accent-main, saturate($accent-light,5%), $accent-light, lighten($accent-main, 10%), $accent-dark);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* -------------------------------------------------------------------------*/
/* Navigation Elements */
.navigation, 
#sort-links {
    list-style: none; 
    padding: 0;
    ul {
        margin: 0;
        padding: 0;
    } 
    li {
        display: inline;
    }
}

.secondary-nav, 
#secondary-nav {
    margin-bottom: 1em;
    overflow: auto;
    li {   
        margin-right:10px;
        display: block;
        float:left;
        &.active a {
            font-weight: bold;
        }
    }
}
.browse, 
.tags,
.items {
    .secondary-nav li, 
    #secondary-nav li {
        @include line-button;   
    }
}

.pagination {
    @include horizontal-list;
    margin: 1em 0; 
    .page-input {
        padding-top: 5px;
        form {
            padding: 0;
        }
        #page {
            width: 30px;
            text-align: right;
        }
        input {
            width: 30px;
            text-align: center;
            margin: 0;
        } 
    }
    .pagination_next a, 
    .pagination_previous a,
    .previous-page a, 
    .next-page a {
        @include link-button;
        line-height: $base-font-size * 1.5;
    } 
}
.item-pagination {
    @include horizontal-list;
    padding: 2em 0 1em 0;
    .next a, 
    .previous a {
        @include link-button;
    }
}

#sort-links {
    margin: 0 0 1em 0;
    .sort-label {
        float: left;
    }
    #sort-links-list {
        overflow: auto;
        padding-left: 10px;
    }
    li {
        float: left;
        margin-right: 10px;
        @include line-button;
        &.sorting a {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

#bottom-nav {
   display: none;
}

/* -------------------------------------------------------------------------*/
/* Top Navigation - Mega Menu Styles */

#top-nav {
    min-height: 40px;
    .nav-menu {
        overflow: auto;
        background-color: lighten($grey-light, 5%);
        .active {
            background-color: lighten($accent-main, 10%);
            a {
                color: white;
            }
        }
    }
    li {
        display: block;
        width: 100%;
        .active a {
            color:white;
        }
        a {
            display: block;
            padding: 1em 0 1em 1em;
        }
        a:hover,
        a:focus {
                background-color: $accent-main;
                @include link-colors(white);
                text-decoration: none;
        }
        
        &:last-of-type {
            border-color: transparent;
        }

        a.open {
            color: white;
            background-color: $accent-main;
        }
    }
    .sub-nav {
        display: none;
        background-color: lighten($grey-light, 10%);
    }
    .sub-nav.open {
        display: block;
        width: 100%;
        min-width: intrinsic;
        position: relative;
        margin: 0;
        padding: 0;
        top: 0;
        li {
            padding: 0;
            a {
                color: $accent-main;
                padding: 1em;
                border-bottom: 1px solid white;      
            }
            a:hover,
            a:focus {
                color: white;
                text-decoration: none;
                background-color: lighten($accent-light, 10%);
            }
        }
        .active a{
            color: white;
        }
        ul a:before {
            content: "\2014\0020";
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Forms */

form {
    @include blueprint-form-sizes(80%, 80%, 250px);

    fieldset {
        border: 0;
        padding: 0;
        margin-bottom: 1em;
    }
    label, 
    input, 
    select {
        margin: 1em .5em 1em 0;
    }
}

/* -------------------------------------------------------------------------*/
/*-- Search--*/

#search-form {
    position: relative;
    input[type=text] {
        width: 50%;
        float: left;
        margin: 0;        
    }
    input[type=submit] {
        float: left;
        margin: 0;
    }
    .show-advanced {
        @include link-button;
        width: 10%;
        display: block;
        float: left;
        text-align: center;
        padding: 0;
        margin: 0 2px;
        border: 1px solid $grey-light;
    }
    #advanced-form {
        // display: none;
        position: absolute;
        top: 2em;
        background-color: $background-color;
        z-index: 20;
        width: 90%;
        border: 1px solid;
        border-color: $grey-light;
        border-top-color: $background-color;
        padding: 0 5%;
        text-align: left;
        
        &.closed {
            left: -9999px;
        }      
        &.open {
            left: 0;
        }
        label {
            font-weight: normal;
        }
        input[type=checkbox],
        input[type=radio] {
            margin: rhythm(.25) 5px 0 0;
            float: left;
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Advanced Search Form */
#advanced-search-form {
    padding: 2em 0;
    .field {
        border-top: 1px solid $grey-light;
        overflow: auto;
        .two label {
            width: 100% !important;
        }
        .five select{
            width: 80% !important;
        }
    }
    label, 
    input, 
    select, 
    button {
        margin: .5em 0;
    }
} 

/* -------------------------------------------------------------------------*/
/* Tables */
table {
    width: 100%;
    margin: 1em 0;
    overflow: auto;
}
th,
td {
    border-bottom:1 px solid $grey-light;
    margin: 0;
    padding: 0.5em 0;
}
th {
    border-width: 3px;
    text-align: left;
}

/* -------------------------------------------------------------------------*/
/* Browse and Item Pages */

#recent-items .item {
    border-bottom: 1px solid $grey-light;
}
    
.item {
    overflow: auto;
    .item-img {
        padding-bottom: .5em;
    }
    .tags {
        float: left;
        padding: .5em 0;
    }
}
.show {
    .element {
        border-top: 1px solid $grey-light;
    }
    .item-file {
        float: left;
        padding-right: 1em;
    }
    #output-format-list {
        @include horizontal-list;
    }
}

/* -------------------------------------------------------------------------*/
/* Collections */

.collections {
    .collection {
        margin-bottom: 2em;
    }
    .element {
        margin: 0 0 1em 0;
        padding: 0;
    }
    .item {
        border-top: 1px solid $grey-light;
    }
}
#item-filters {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    .collection {
        overflow: initial;
        @extend h2;
        border-top: none;
    }
}

/* -------------------------------------------------------------------------*/
/* TagCloud */

.hTagcloud ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 1em;
    li {
        display: inline;
        a {
            text-decoration: none;
        }
    }
}
.popular,
.-popular {
    font-size: 120%;
    a {
        color: lighten($accent-green, 10%);
        &:visited {
            color: lighten($grey-light, 5%);
        }
        &:hover {
            color: darken($accent-green, 20%);
        }
    }
}
.v-popular {
    font-size: 140%;
    a {
        color: $accent-green;
        &:visited {
            color: lighten($grey-light, 5%);
        }
        &:hover {
            color: lighten($accent-yellow, 10%);
        }
    }
}
.vv-popular {
    font-size: 180%;
    a {
        color: darken($accent-green, 10%);
        &:visited {
            color: $grey-light;
        }
        &:hover {
            color: $accent-yellow;
        }
    }
}
.vvv-popular {
    font-size: 220%;
    a {
        color: lighten($accent-red, 10%);
        &:visited {
            color: $grey-light;
        }
        &:hover {
            color: darken($accent-red, 30%);
        }
    }
}
.vvvv-popular {
    font-size: 260%;
    a {
        color: $accent-red;
        &:visited {
            color: $grey-medium;
        }
        &:hover {
            color: lighten($accent-red, 30%);
        }
    }
}
.vvvvv-popular {
    font-size: 300%;
    a {
        color: lighten($accent-main, 10%);
        &:visited {
            color: $grey-medium;
        }
        &:hover {
            color: $grey-medium;
        }
    }
}
.vvvvvv-popular {
    font-size: 320%;
    a {
        color: $accent-main;
        &:visited {
            color: $grey-dark;
        }
        &:hover {
            color: $grey-light;
        }
    }
}
.vvvvvvv-popular {
    font-size: 340%;
    a {
        color: darken($accent-main, 10%);
        &:visited {
            color: $grey-dark;
        }
        &:hover {
            color: lighten($accent-main, 30%);
        }
    }
}
.vvvvvvvv-popular {
    font-size: 360%;
    a {
        color: darken($accent-main, 20%);
        &:visited {
            color: $grey-dark;
        }
        &:hover {
            color: lighten($accent-main, 40%);
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Simple Pages */

#simple-pages-breadcrumbs {
    margin-bottom: 1.5em;
    font-style: italic;
    a {
        @include link-button;
        display: initial;
    }
}

/* -------------------------------------------------------------------------*/
/* Geolocation */

#map {
    #map-links {
        padding-top: 0 !important;
    }
    #link-block {
        height: auto;
    }
}

#geolocation {
    margin: 1em 0;
}
/* -------------------------------------------------------------------------*/
/* Comments */

#comments-container {
    margin: 1em 0;
    #comments {
        margin: 0;
        padding: 0;
    }
}

/* -------------------------------------------------------------------------*/
/* Exhibits */
.exhibits.summary #exhibit-pages {
    padding-top: 1em;
    ul {
        padding: 0;
        margin: 1em 0 0 0;
        list-style-type: none;
        li {
            padding: .5em 0;
            display: block;
            border-top: 2px solid $grey-light;
            a {
                display: block;
                padding-left: 1em;
                &:hover {
                    text-decoration: none;
                }
            }
            ul a {
                &:before {
                    content: "\2014\0020";
                }
            }
        }
    }
}

.exhibits.show #exhibit-pages{
    padding: 0;
    ul {
        margin: 1em 0 0 0;
        list-style-type: none;
        li {
            display: block;
            border-top: 2px solid $grey-light;
            a {
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
            ul {
                margin-left: 2em;
            }
        }
    }
   
    .current-page {
        display: block;
        background-color: $accent-light;
        padding: .5em;
        color: white;
    }

    #secondary-nav {
        overflow: hidden;
        li {
            border: none;
            margin: 0 .5em .5em 0;
        }
        ul {               
            width: 100%;
            float: left;
            margin: 0;
            .current a {
                background-color: lighten($accent-main, 5%);
                color: white;
            }
            li {
                padding: 0;
                display: block;
                float: left;
                a {
                    @include link-button;
                    margin-bottom: 0;
                } 
            }
        }
        & > li:nth-child(2) {            
            display: block;
        }
        & > li:nth-child(3) {
            display: block;
            clear: both; 
            margin-top: .5em;
            a {
                @include line-button;
            }
            ul {
                padding-top: 3px;
            }
        }      
        & > li:nth-child(4) {
            display: block;
            a {
                @include line-button;
            }
        }
        .exhibit-title {
            font-family: $font-family-title;
            text-transform: uppercase;
            padding: .5em 0;
            &:after {
                content: ":" 
            }
        }
    }
}
#exhibit-child-pages {
    clear: both;
    overflow: hidden;
    padding: .5em 0;
    .exhibit-child-nav {
        margin: .5em 0;
        li {
            border: none;
            display: block;
            float: left;
            margin: 0 5px 5px 0;   
            a {
                @include link-button;
                @include line-button;
            }
        }
    }
}
.exhibit-block {
    margin-top: 1em;
    overflow: auto;
    clear: both;
    .exhibit-items.left {
        margin-right: 5%;
    }
    .exhibit-items.right {
        margin-left: 5%;
    }
}
#exhibit-page-navigation {
    clear: both;
    margin: 0;
    padding: 1em 0em;
    
    #exhibit-nav-next, 
    #exhibit-nav-prev {
        width: 45%;
        margin: .5em 0;
    }
    .current-page {
        clear: both;
        display: block;
        background-color: $accent-main;
        padding: .5em 0;
        color: white;
        margin-top: .5em;
    }
    #exhibit-nav-up {
        clear: both;
        width: 100%;
    } 
}