// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$column-width   : 4em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;


// ---------------------------------------------------------------------------
// Color

$background-color: #fff;
$text-color: #444;


$accent-dark: #5C3F8D;
$accent-main: #684B98;
$accent-light: #BE75CB;
$accent-bright: #894292;
$accent-super-light: #ddd;


$grey-dark: #363636;
$grey-medium: #555;
$grey-light: #ccc;
$grey-super-light: #eee;

$accent-red: #C5355E;
$accent-green: #72C334;
$accent-yellow: #B7D338;


// ---------------------------------------------------------------------------
// Typography

$font-family-main: 'Lato', Verdana, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
$font-family-title: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;

