// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$column-width   : 4em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;


// ---------------------------------------------------------------------------
// Color

$background-color: lighten(#C9C9D0, 10%);
$text-color: #444;


$accent-dark: #2B265C;
$accent-main: #62189A;
$accent-light: #78768e;
$accent-bright: #6861AE;
$accent-super-light: #a1a0b8;

$grey-dark: #363636;
$grey-medium: #666;
$grey-light: #ddd;
$grey-super-light: #eee;

$accent-red: #C5355E;
$accent-green: #72C334;
$accent-yellow: #B7D338;


// ---------------------------------------------------------------------------
// Typography

$font-family-main: "Lucida Bright", Georgia, serif;
$font-size-main: 14px;
$font-family-title: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;

