
// ----- Colors ----- //

$background-color: #fffff8;
$text-color-base: #444;

$purple-dark: #660066;
$purple-main: #92278f;
$purple-light: #ff00ff;
$purple-super-light: #a580a4;

$grey-dark: #363636;
$grey-medium: #666;
$grey-light: #ddd;
$grey-super-light: #eee;

$white: #fff;

// ---- Typography ---- //

$font-family-main: 'Helvetica Neue',Helvetica, Arial, sans-serif;
$font-size-main: 14px;
$font-family-title:'Trebuchet MS',sans-serif;