// ---- Mixins ---- //
@mixin Main-Title {
	font-family: $font-family-title;
    font-weight:normal;
    line-height: 1em;
	color:$purple-dark;
    text-transform: uppercase;
    font-size: $font-size-main *2.5;
}
@mixin Second-Head {
	font-family: $font-family-title;
	font-size: $font-size-main * 2;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid $grey-light;
    font-weight: normal;
    line-height: 1.2em;
    text-transform: capitalize;
}
@mixin Head-Grey {
    font-family: $font-family-title;
	font-weight: bold;
    color:$grey-medium;
    font-size: $font-size-main * 2;
    text-transform: capitalize;
}