@import "susy";
@import "mixins";
@import "base";
@import "compass";

/* -------------------------------------------------------------------------*/
/* Table of Contents 
-- General Styles
---- Layout
---- General Styles
---- Headings
---- Links
-- Navigation
-- Forms
---- Search
---- Contribution
-- Tables
-- Content
---- Browse and Item Pages
---- Collections
---- Simple Pages

/* -------------------------------------------------------------------------*/
/* Layout */
#wrap {
    @include container;
/*    @include susy-grid-background;
*/
   background-color:$background-color;
   overflow: auto;
   #search-container{@include span-columns(4 omega);}
   .secondary-nav {@include span-columns(4);}
   .pagination {@include span-columns(4);}
   .secondary-nav li {@include span-columns(3);}
   #item-filters {@include span-columns (4 omega);}
   #sort-links{@include span-columns(4);}
   #outputs {@include span-columns(4)}
   #advanced-search-form label {@include span-columns (4);}
   #advanced-search-form .inputs {@include span-columns (4 omega);}
   #advanced-search-form input {@include span-columns (3);}
   .hentry .item-img{@include span-columns(4 omega);}
   .hentry .item-description {@include span-columns(4 omega);}
   footer {@include bleed($grid-padding);}
   #bottom-nav {display: none;}

    @include at-breakpoint(30em 8) {
        @include container;
/*        @include susy-grid-background;
*/
        #site-title {@include span-columns(8);}
        #search-container {@include span-columns(8 omega);}
        #top-nav {@include span-columns (8 omega);}
        #content {@include span-columns (8 omega);}
        .secondary-nav li {@include span-columns(2);}
        .pagination {@include span-columns(8);}
        #sort-links {@include span-columns(8);}
        #primary {@include span-columns (8);}
        #recent-items {@include span-columns (8);}
        #exhibit-pages {@include span-columns (8);}
        #bottom-nav {display:none;}
    }
    @include at-breakpoint(60em 12) {
        @include container;
/*        @include susy-grid-background;
*/
        #site-title {@include span-columns (7);}
        #search-container {@include span-columns (4 omega);}
        #primary {@include span-columns (7,12);}
        .secondary-nav li {@include span-columns(2);}
        .pagination {@include span-columns(12);}
        #sort-links {@include span-columns(12);}
        #featured-item {padding-right:1em;}
        #featured-collection {padding-right:1em;}
        #featured-exhibit {padding-right:1em;}
        #recent-items {@include span-columns (4 omega, 12);}
        .hentry .item-img{@include span-columns(3, 12);}
        .hentry .item-description {@include span-columns(9 omega);}        
        #exhibit-pages {@include span-columns (4 omega, 12);}
        #advanced-search-form label {@include span-columns (4,12);}
        #advanced-search-form .label {@include span-columns (4,12);}
        #advanced-search-form .inputs {@include span-columns (7, 12);}
        #advanced-search-form input {@include span-columns (7, 12);}
        #advanced-search-form .submit {@include span-columns (3, 12);}
        #bottom-nav {display: block;}
    }   
}
.element-set,
    .item,
    .element, 
    .collection,
    .exhibit {
        margin:.5em 0 1.5em 0;
        overflow: auto;
}
#featured-item,
    #featured-collection,
    #featured-exhibit {
        overflow: auto;
        margin:.5em 0 2em 0;
    }

/* -------------------------------------------------------------------------*/
/* General */
body {
    background-color:#E5E5E5;
    font-family: $font-family-main;
    font-size: $font-size-main;
    line-height: 1.6em;
    color: $text-color;
    margin:0;
}
#content {
    padding:1em 0;
    overflow: auto;
}
abbr, acronym {
    border:none;
    font-style: normal;
}
.clear {
    clear:both;
}
a.show {
    padding-left: 5px; font-style: italic;
}
blockquote {
    font-style:italic;
}
#featured-item{
    padding:0 1em;
    background-color: lighten($accent-super-light, 5%);
}
.intro {
    font-style: italic;
}
.item,
    .element{ 
        padding-bottom: .5em;
        border-top: 1px solid $grey-light;
        clear:both;
}
#outputs {
    margin-top:1em;
}
footer {
    background-color:lighten($accent-super-light, 5%);
    padding:.5em;
    overflow: auto;
}
/* -------------------------------------------------------------------------*/
/* Headings */

#{headings()} {
    font-family: $font-family-title;
    font-weight:normal;
    line-height: normal;
    padding: .5em 0;
    margin:0;
    color: $grey-medium;
}
#{headings(4,6)} {
    font-style: $font-size-main * 1.2;
}
#{headings(5,6)} {
    font-weight: bold;
}
h1 {
    text-transform: uppercase;
    font-size: $font-size-main *2.5;
}
h2 {
    font-size: $font-size-main * 2;
    text-transform: capitalize;
}
h3 {
    font-size: $font-size-main * 1.5;
}
h6 {
    font-size:italic;
}
#site-title {
    color:$accent-dark;
    font-variant: small-caps;
    font-size: $font-size-main *3.5;
    font-weight: bold;
    line-height: .9em;
    margin: .5em 0;
    a{text-decoration: none;color:$accent-dark;}
}

/* -------------------------------------------------------------------------*/
/* Links */
a {
    @include link-colors($accent-main, $accent-light, $accent-super-light, $accent-dark);
    text-decoration: none;
    &:hover{text-decoration:underline;}
}

/* -------------------------------------------------------------------------*/
/* Navigation */
.navigation, 
    #sort-links {
        list-style:none; 
        padding:0;
        ul {
            margin:0;
            padding:0;
        } 
        li {
            display:inline;
        }
}
.secondary-nav {
    ul {
        li {
            padding-bottom:.5em;
            &.active a {
                text-decoration: underline;
                font-weight: bold;
            }
            a:visited {
                color:$accent-main;
            }
        }
    }
}
.pagination{
    @include horizontal-list;
    padding-top:1em; 
    .page-input {
        form {
            padding:0;
        }
        #page{
            width:30px;
            text-align:right;
        } 
    } 
}
.item-pagination {
    @include horizontal-list;
    padding-top:2em;
}

#sort-links{
    margin:.5em 0 2em 0;
    .sort-label {
        float:left;
    }
    li {
        float:left;
        padding:0 5px 0 10px;

        &.sorting a {
            text-decoration: underline;
            font-weight: bold;
        }
        a:visited {
            color:$accent-main;
        }
    }
}
#bottom-nav {
    li {
        padding-right:20px;
        &.active {
            text-decoration: underline;
            font-weight: bold;
        }
        ul{
            display: none;
        }
    }
}


/* -------------------------------------------------------------------------*/
/* Forms */
fieldset {
    border:0;
    padding:0;
    margin-bottom:1em;

    legend {
        font-size:1.5em;
        line-height:1em;
        margin:1em 0 0 ;
    }
    input.textinput {
        margin-bottom:1em;
    }
    label {
        display:block;
    }
    select {
        margin:1em 0;
    }
    textarea{
        margin-bottom:1em;
    }
    .field {
        margin-bottom: .5em;    
    }
}
form {
    clear:both;
    padding:1em 0;
    input {
        padding:0;
    }
    button, 
        select,
        .submit,
        input {
            @include border-radius(3px);
            background-color: $grey-super-light;
        }
}
#content {
    fieldset {
        display:block;
        clear:both;
    }
    .inputs {
        overflow:hidden;
        zoom:1;
    }
    .radioinputs {
        label {
            display:block;
            float:left;
            width:48%;
            clear:none;
        }
    }
    .search-entry {
        padding-bottom:.5em;
        select {
            margin-bottom:.5em;
        }
    }
    #submit_search {
        margin:.5em 0 0 458px;
        }   
    }


/*-- Search--*/

#search-container {
    width:30%;
    float:right;
    font-size: .9em;
    padding: 1em 0 0 1em;
    margin:0;

    input {
        margin:0 0 0 .5em;
    }
    a {
        float:right;
        font-size: 1em;
        padding: 1em 0em;
    }
    h3 {
        text-transform:uppercase;
        font-size:1em;
        margin:0;
    }       
}       
#search-form {
    float:right;
}    
#advanced-search-form {
    .field {
        border-top:1px solid $grey-light;
        padding:.5em 0 1em 0;
        overflow: auto;
    }
    select {
        margin-left:1px;
    }
    .search-entry{
        margin-bottom:.5em;
        overflow:auto;
    }
} 

/*-- Contribution Form --*/

#geolocation_address.textinput {
    margin-bottom: .5em;
}
#geolocation_find_location_by_address{
    margin-left:.5em;
}
#contribution-confirm-submit {
    margin-top:1em;
    input {
        float:left;
        margin-top:.25em;
    }
    label{
        float:left;
        margin-left:.5em;
    }
    #form-submit{
        margin-top:1em;
    }
}

/* -------------------------------------------------------------------------*/
/* Tables */
table {
    width:100%;
    margin:1em 0;
    overflow: auto;
}
th,
td {
    border-bottom:1px solid $grey-light;
    margin:0;
    padding:0.5em 0;
}
th {
    border-width:3px;
    text-align:left;
}

/* -------------------------------------------------------------------------*/
/* Browse and Item Pages */
    
.item {
    overflow: auto;
    .item-img{
        padding-bottom:.5em;
    }
    .tags{
        float:left;
        padding:.5em 0;
    }
}
.show {
    .item-file {
        float:left;
        padding-right:1em;
    }
    #output-format-list {
        @include horizontal-list;
    }
}

/* -------------------------------------------------------------------------*/
/* Collections */
.collections {
    .collection {
        margin-bottom:2em;
    }
    .element {
        margin: 0 0 1em 0;
        padding:0;
    }
    .view-items-link {
        margin:.5em 0;
    }
    .item h3 {
        padding: 1em 0;
    }
}
#item-filters {
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    .collection {
        overflow: initial;
        @extend h2;
    }
}

/* -------------------------------------------------------------------------*/
/* Simple Pages */

#simple-pages-breadcrumbs {
    margin-bottom: 1.5em;
    font-style: italic;
    a{
        text-decoration: none;
        &:hover{
            text-decoration:underline;
        }
    }
}
