@import "compass";
@import "base";

/* 
Table of Contents 
=================
-- General HTML Elements
----- Structure
----- Headings
----- Links
----- Form and Table Elements
-- Reusable Classes
-- Navigation
----- Pagination
-- Content
----- Pages
----- Items
----- Collections
----- Exhibits
-- Microformats
*/

/* !---------- Normalize ---------- */
@import "normalize";

/* !---------- Generic ---------- */
body {
    font-family: $font-family-main;
    font-size: $font-size-main;
    line-height: 1.6em;
    color: $text-color-base;
    background: $background-color;
    margin:0;
    ul {
        margin:0;
        padding:0;
    }
}
abbr, acronym {
    border:none;
    font-style: normal;
}
img a {
    border:none;
}
.clear {
    clear:both;
}
blockquote {
    font-style:italic;
}
/* !---------- Structure ---------- */
#wrap {
    width: 820px; 
    margin: 0 auto;
    position: relative;
    padding:2em;
}
header {
    margin:2em 0 0 0;
}
#site-title {
    padding-bottom: .5em;
}
#content {
    clear:both;
    padding: 1em 0 2em 0;
    overflow:auto;
}
#intro {
    clear:both;
    font-style: italic;
    padding-bottom:.5em;
}
#primary {
    padding-bottom: 1em;
    clear:both;
}
#featured-item {
    margin: 1.5em 0 3em 0;
    padding-right:5%;
    width:52%;
    float:left;
    min-height: 200px;
}
#featured-collection {
    margin: 1.5em 0 3em 0;
    padding-left:1%;
    width:42%;
    float:right;
}
#featured-exhibit {
    margin: 0 0 3em 0;
    width:42%;
    float:right;
    padding-left:1%;
}
#recent-items {
    width:100%;
    float:left;
    clear:both;
}
#outputs{
    clear:both;
    padding-top:3em;
}
.view-items-link {
    clear:both;
    padding-top:1%;
    text-decoration: none; 
}
#item-output-formats .element-text #output-format-list{
    padding-left:0;
    padding-bottom:.5em;
    li{
        display: block;
        float:left;
        padding-right:.5em;
        list-style-type: none;
    }
}
footer {
    clear:both;
    margin: 0 0 1em 0;
    overflow: auto;
}



/* !---------- Headings ---------- */
h1,
h2,
h3,
#site-title {
    font-family: $font-family-title;
    font-weight:normal;
    line-height: 1em;
}
#site-title {
    color:$purple-dark;
    font-variant: small-caps;
    font-size: $font-size-main *3.5;
    font-weight: bold;
    line-height: .8em;
    width:70%;
}
h1 {
    color:$purple-dark;
    text-transform: uppercase;
    font-size: $font-size-main *2.5;
}
h2 {
    font-size: $font-size-main * 2;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid $grey-light;
    font-weight: normal;
    line-height: 1.2em;
    text-transform: capitalize;
}
#home h2 {
    font-weight: bold;
    color:$grey-medium;
    border-bottom:none;
    margin:0;
}
h3 {
    font-size: $font-size-main * 1.5;
    padding-bottom: .5em;
    margin-bottom: .75em;
    border-bottom: 1px solid $grey-light;
}
h4,
h5,
h6 {
    font-style: $font-size-main * 1.2;
    margin: .75em 0 0;
}
h5,
h6 {
    color: $grey-medium;
    font-weight: normal;
}
h6 {
    font-size:italic;
}

/* !---------- Links ---------- */
a:link {
    color:$purple-dark;
    text-decoration: none;
}
a:visited{
    color:darken($purple-super-light, 10%);
}
a:hover {
    color: $purple-main;
    text-decoration:underline;
}
a:active {
    color: $purple-light;
}
h1 a, 
h2 a,
h3 a,
h4 a,
#site-title a {
    text-decoration:none;
    &:hover{
        text-decoration:none;
    }
}
#site-title a:visited {
    color:$purple-dark;
}
h4 a {
    padding:.25em 0;
}
footer a{
    text-decoration: none;
}
a.show {
    padding-left: 5px;
    font-style: italic;
}
/* !---------- Forms ---------- */
fieldset {
    border:0;
    padding:0;
    margin-bottom:1em;

    legend {
        font-size:1.5em;
        line-height:1em;
        margin:1em 0 0 ;
    }
    input.textinput {
        margin-bottom:1em;
    }
    label {
        display:block;
    }
    select {
        margin:1em 0;
    }
    textarea{
        margin-bottom:1em;
    }
    .field {
        margin-bottom: .5em;    
    }
}
/*-- Contribution Form --*/

#geolocation_address.textinput {
    margin-bottom: .5em;
}
#geolocation_find_location_by_address{
    margin-left:.5em;
}
#contribution-confirm-submit {
    margin-top:1em;
    input {
        float:left;
        margin-top:.25em;
    }
    label{
        float:left;
        margin-left:.5em;
    }
    #form-submit{
        margin-top:1em;
    }
}
/*-- end Contribution Form --*/
#search-container {
    width:30%;
    float:right;
    font-size: .9em;
    padding: 1em 0 0 1em;
    margin:0;

    input {
        margin:0 0 0 .5em;
    }
    a {
        float:right;
        font-size: 1em;
        padding: 1em 0em;
    }
    h3 {
        text-transform:uppercase;
        font-size:1em;
        margin:0;
    }       
}       
#search-form {
    float:right;
}    
#content {
    fieldset {
        display:block;
        clear:both;
    }
    .inputs {
        overflow:hidden;
        zoom:1;
    }
    .radioinputs label {
        display:block;
        float:left;
        width:48%;
        clear:none;
    }
    .search-entry select{
        margin-bottom:.5em;
    }
    #submit_search {
        margin:.5em 0 0 458px;
    }   
}
#advanced-search-form {
    .field {
        border-bottom:1px solid $grey-light;
        padding:0.75em 0;
        overflow:hidden;
        width:100%;
        
        label {
            float:left;
            width:25%;
            font-weight:normal;
            clear:left;
        }
        .label {
            float:left;
            width:25%;
            font-weight:normal;
            clear:left;
        }
        .textinput {
            float:right;
            width:85%;
            background: $white;
        }
        select {
            @extend .textinput;
            width: 86%;
        }
        button {
            float:right;
            margin-top:.5em;
        }   
        input {
            width:85%;
            float:right;
        }
    }
    #submit_search_advanced {
        float:right;
        width:10%;
        margin-top:.5em;
    }
}
  
/* !---------- Tables ---------- */
table {
    width:100%;
}
th,
td {
    border-bottom:1px solid $grey-light;
    margin:0;
    padding:0.5em 0;
}
th {
    border-width:3px;
    text-align:left;
}


/* !---------- Reusable Classes ---------- */
.navigation {
    list-style:none;  
    li {
        display:inline;
    }
    a {
        text-decoration:none;
    }
}

/* !---------- Navigation ---------- */
#top-nav {
    width:100%;
    ul {
        width:100%;
        float:left;
        padding:.5em 0 0 0;
        position:relative;
        display:inline-table;
        &:after {
            content:"";
            clear:both;
            display:block;
        }
        ul {
            position:absolute;
            padding-top:0;
            li {
                float:none;
                position:relative;
                padding-left:.5em;
                background-color:lighten($grey-light, 5%);
                background-image:none;
                border-bottom:1px solid $grey-super-light;
                &.active a {
                    background-color:none;
                    color:$text-color-base;
                }
                &:hover {
                    background-color:$grey-light;
                }
                a {
                    border-top:none;
                    padding:0;
                }
            }
            ul {
                position: absolute;
                left:100%;
                top:0;
            }
        }
        li {
            float:left;
            padding: .5em .5em .5em 0;
            min-width: 100px;
            display:block;
            &.active a{
                background-color: $grey-medium;
                color:$background-color;

            }
            &.active ul li a{
                background-color: inherit;
                color:$purple-dark;
            }
            &:hover > ul {
                display: block;
                position:absolute;
                width: 150px;
            }
            a {
                display: block;
                text-decoration: none;
                border-top:1px solid $grey-light;
                padding:.5em;

                &:hover{
                    background-color:$grey-light;
                    color:$purple-dark;
                }
            }
        }
        ul {
            display:none;
        }
    }
}

.secondary-nav {
    margin:0;
    width:100%;
    float:left;
    overflow:hidden;
    padding-bottom:2em;

    ul {
        margin:0;
        display:inline; 
        li {
            float:left;
            padding:.5em 1.5em .5em 0;
            a {
                float:left;
                display:block;
                padding:6px 0;
                color:$purple-dark;

                &:visited {
                    color:darken($purple-super-light, 10%);
                }

                &:hover {
                    color:$purple-main;
                    text-decoration: underline;
                }
            }           
        }
        li.active a {
            color:$purple-dark; 
            font-weight: bold;
        }
    }
}
.pagination {
    clear:both;
    width:20%;
    float:left;
    list-style-type:none;
    padding:1em 0;
    ul{
        width: 100%;
    }
    li {
        display:block;
        float:left;
        padding-right:2%;
        #page {
            width:30px;
            text-align:right;
        }
    }
}
#sort-links{
    width:80%;
    float:left;
    padding:1em 0;
    .sort-label {   
        float: left;
    }
    #sort-links-list {
        float:left;
        text-decoration: none;
        display: block;
        margin:0;
        padding-left:1%;
        li{
            padding:0 .75em 0 1em;
            display:block;
            float:left;
            &.sorting a {
                font-weight: bold;
            }
            a {
                text-decoration:none;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}
#bottom-nav .navigation {
    padding:0;
    width:100%;
    float:left;
    padding-bottom:1em;
    border-top:1px solid $grey-medium;
    a {
    text-decoration: none;
    }
    li {
        padding:.5em 1.5em 0 0;
        text-decoration: none;
        display:block;
        float:left;
        &.active a{
            text-decoration: underline;
        }

        a {
            display: block;
            text-decoration: none;
            &:hover{
                text-decoration:underline;
            }
        }

        ul {
            display:none;
        }
    }  
}
/* !---------- Footer Text ---------- */
#footer-text {
    float:left;
    font-style: italic;
    padding-top:1em;
    p {
        margin:.5em 0;
    }
}
/* !---------- Browse and Item Pages ---------- */

.item {
    width:100%;
    padding:1em 0;
    overflow: auto;
    .item-meta {
        float:left;
        width:100%;
    }
    .item-img {
        padding-right:9px;
        float:left;
    }
}
.item-pagination {
    float:left;
    font-size:.9em;
    width:auto;
    padding:0;
    margin: 2em auto 1em auto; 

    li{
        float:left;
        display:inline;
        padding:0 .5em;
    }
    a {
        padding:0 .5em 0 0;
    }
}

.item-description {
    display:block;
    margin:0 0 1em;
}
.items.show { 
    h2 {
        font-weight: bold;
        border-bottom: none;
    }
    .element {
        overflow: auto;
    }
}
.collections {
    h2{
        @include Head-Grey;
        padding-bottom: 0;
        font-weight: normal;
    }
    h3 {
        border-bottom: none;
    }
}
#collection-items {
    margin-top:2em; 
    h2 {
        font-weight: normal;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
/* !---------- Simple Pages Styles ---------- */
.page #content {
    overflow:auto;
    width:100%;
    clear:none;
    h1 {
        margin:0 0 1em;
    }
}
#simple-pages-breadcrumbs {
    margin-bottom: 1.5em;
    font-style: italic;
    a {
        text-decoration: none;
        &:hover {
            text-decoration:underline;
        }
    }
}

/* !---------- Collections ---------- */
.collection {
    padding:1em 0;
    ul {
        margin: 0 0 1em 1em;
    }
}
#item-filters {
    width:100%;
    float:left;
    ul {
        list-style-type: none;
        padding:0;
        .collection {
            @include Second-Head;
            border-bottom:none;
            padding-top:.5em;
            font-weight: bold;
            color:$grey-medium;
        }
    }
}

/* !---------- Exhibit Styles ---------- */

.exhibit {
    clear:both;
    padding-bottom: 1em;
}
.exhibits.browse.exhibit{
    margin-bottom: 1em;
    padding: .5em 0;
    h3 {
        text-transform: uppercase;
        padding-top: .5em;
        a {
            text-decoration: none;
        }
    }
}
#secondary-nav{
    @extend .secondary-nav;
}
.exhibits.summary {
    p, .tags{
        margin-bottom: 1em;
    }
    .exhibit-credits{
        padding-top:1em;
    }
    #primary {
        width:65%;
        float:left;
        padding-right:5%;
        padding-bottom:1em;
    }
    #exhibit-pages {
        width:30%;
        float:left;

        ul {
            margin-left:0;
            list-style-type: none;
            padding:0;
            li {
                a {
                    text-decoration: none;
                    padding:.5em;
                    display:block;
                    border-bottom:1px solid $grey-light;
                    &:hover {
                        background-color:$grey-light;
                    }                    
                }
                ul {
                    margin-left:1.5em;
                }
            }
        }
    }

}

.exhibits.show {
    #exhibit-pages {
        overflow: auto;
        margin:1em 0;
        ul {
            margin-left:0;
        }
        .exhibit-page-nav {
            clear:left;
            float:left;
            width:100%;
            border-bottom:1px solid $grey-light;    
            padding:0;
            margin-bottom:.5em;
            margin-left:0;
            li {
                float:none;
                display:block;
                padding:0 2px 0 0;
                margin:0;
                text-transform:uppercase;

                .exhibit-title {
                   @include Main-Title;
                   &:hover{
                    background-color:$background-color;
                   }
                }
                ul {
                    padding: 1.5em 4em 0 0;
                    float:left;
                    li {
                        text-transform:none;
                        display:block;
                        float:left;
                        a {
                            padding:.5em;
                        }
                    }
                }
                a {
                    display:block;
                    padding:5px 1em .5em 0;
                    text-decoration:none;
                    color: darken($purple-super-light, 10%);
                    &:hover {
                        color: $purple-main;
                        background-color: $grey-super-light;
                    }
                    &:active {
                        color: $purple-light;
                    }
                }
                &.current {
                    a {
                        text-decoration:none;
                        display:block;
                        background-color: $grey-light;
                        color:darken($purple-super-light, 15%);
                        &:hover{
                            background-color:$grey-super-light;
                            color:$purple-main;
                        }
                    }
                }
            }
        }
    }
    h1{
        @include Second-Head;
        width:70%;
        float:left;
        padding-bottom: 0;
        border-bottom: none;
    }
    #exhibit-child-pages {
        width: 30%;
        float: right;
        margin:1em 0;
        li a {
            display: block;
            padding:.5em;
            border-bottom: 1px solid $grey-super-light;
            font-weight: bold;
            &:hover{
                background-color:$grey-super-light;
            }
        }
    }
    .exhibit-block{
        overflow: auto;
    }
    .exhibit-item {
        overflow: hidden;
        a {
            text-decoration: none;
        }
    }
    a img {
        border:none;
    }
    .gallery-thumbnails-text-bottom {
        clear:both;
        .primary .exhibit-item  {
            margin-right:9px;
        }
    }
    #exhibit-page-navigation {
        clear:both;
        margin-bottom:1em;
        float:right;
        a{
            display:block;
            padding:.5em 0;
            text-decoration: none;
            &:hover{
                background-color:$grey-super-light;
            }
        }
        .current-page{
            display:block;
            background-color:$grey-light;
            color:darken($purple-super-light, 15%);
            padding:.5em 0;
            margin-top:0;
        }

        .next-page {
            margin-left:2em;
        }
    }
}

/* !---------- Microformats ---------- */
.hTagcloud {
    width:100%;
    float:left;
    margin:1em 0;
    ul {
        list-style:none;
        width:100%;
        float:left;
        margin-left:0;
        padding-left:0;
        li {
            display:inline;
            a {
                text-decoration: none;
            }
        }
        .popular,
        .-popular {
            font-size:120%;
            a {
                color: lighten($accent-green, 10%);
                &:visited {
                    color:$grey-super-light;
                }
                &:hover {
                    color: darken($accent-green, 20%);
                }
            }
        }
        .v-popular {
            font-size:140%;
            a {
                color: $accent-green;
                &:visited {
                    color:$grey-super-light;
                }
                &:hover {
                    color: lighten($accent-yellow, 10%);
                }
            }
        }
        .vv-popular {
            font-size:180%;
            a {
                color: darken($accent-green, 10%);
                &:visited {
                    color: $grey-light;
                }
                &:hover {
                    color: $accent-yellow;
                }
            }
        }
        .vvv-popular {
            font-size:220%;
            a {
                color: lighten($accent-red, 10%);
                &:visited {
                    color:$grey-light;
                }
                &:hover {
                    color: darken($accent-red, 30%);
                }
            }
        }
        .vvvv-popular {
            font-size:260%;
            a {
                color: $accent-red;
                &:visited {
                    color: $grey-medium;
                }
                &:hover {
                    color: lighten($accent-red, 30%);
                }
            }
        }
        .vvvvv-popular {
            font-size:300%;
            a {
                color: lighten($accent-main, 10%);
                &:visited {
                    color:$grey-medium;
                }
                &:hover {
                    color: $grey-medium;
                }
            }
        }
        .vvvvvv-popular {
            font-size:320%;
            a {
                color: $accent-main;
                &:visited {
                    color: $grey-dark;
                }
                &:hover {
                    color: $grey-light;
                }
            }
        }
        .vvvvvvv-popular {
            font-size:340%;
            a {
                color: darken($accent-main, 10%);
                &:visited {
                    color:$grey-dark;
                }
                &:hover {
                    color: lighten($accent-main, 30%);
                }
            }
        }
        .vvvvvvvv-popular {
            font-size:360%;
            a {
                color: darken($accent-main, 20%);
                &::visited{
                    color:$grey-dark;
                }
                &:hover {
                    color: lighten($accent-main, 40%);
                }
            }
        }
    }
}