@import "compass";
@import "base";

/* 
Table of Contents 
=================
-- General HTML Elements
----- Structure
----- Headings
----- Links
----- Form and Table Elements
-- Reusable Classes
-- Navigation
----- Pagination
-- Content
----- Pages
----- Items
----- Collections
----- Exhibits
-- Microformats
*/

/* !---------- Normalize ---------- */
@import "normalize";

/* !---------- Generic ---------- */
body {
    font-family: $font-family-main;
    font-size: $font-size-main;
    line-height: 1.6em;
    color: $text-color-base;
    background: $background-color;
    margin:0;
    ul {
        margin:0;
    }
}
abbr, acronym {
    border:none;
    font-style: normal;
}
img a {
    border:none;
}
.clear {
    clear:both;
}
blockquote {
    font-style:italic;
}
/* !---------- Structure ---------- */
#wrap {
    width: 820px; 
    margin: 0 auto;
    position: relative;
}
header {
    margin:2em 0 0 0;
    }
#site-title {
    padding-bottom: .5em;
}
#content {
    clear:both;
    padding: 1em 0 2em 0;
}
#intro {
    clear:both;
    padding-bottom: 1em 0;
}
#primary {
    padding-bottom: 1em;
}
#featured-item {
    margin: 1.5em 0 3em 0;
    padding-right:1em;
    width:48%;
    float:left;
}
#featured-collection {
    margin: 1.5em 0 3em 0;
    padding-left:1em;
    width:48%;
    float:right;
}
#featured-exhibit {
    clear:both;
    margin: 0 0 3em 0;
}
#recent-items {
    clear:both;
    padding:1em 0;
}
#outputs{
    clear:both;
    padding-top:3em;
}
#item-output-formats .element-text #output-format-list{
    padding-left:0;
    padding-bottom:.5em;
    li{
        display: block;
        float:left;
        padding-right:.5em;
        list-style-type: none;
    }
}
footer {
    clear:both;
    margin: 0 0 1em 0;
    padding:1em .5em;
    background-color: $grey-light;
}



/* !---------- Headings ---------- */
h1,
h2,
h3,
#site-title {
    font-family: $font-family-title;
    font-weight:normal;
}
#site-title {
    color:$purple-dark;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: $font-size-main *3;
    line-height: 1em;
}
h1{
    color:$purple-dark;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: $font-size-main *2.5;
}

h2 {
    border-bottom: 1px solid $grey-light;
    font-size: $font-size-main * 2;
    padding-bottom: .5em;
}
h3 {
    font-size: $font-size-main * 1.5;
    margin-bottom: .75em;
}
h4,
h5,
h6 {
    font-style: $font-size-main * 1.2;
    margin: .75em 0 0;
}
h5,
h6 {
    color: $grey-medium;
    font-weight: normal;
}
h6 {
    font-size:italic;
}
#content h1 {
    padding-bottom:.5em;
    border-bottom: 1px solid $grey-light;
}
/* !---------- Links ---------- */
a:link,
a:visited {
    color: $purple-dark;
}
a:hover {
    color: $purple-main;
}
a:active {
    color: $purple-light;
}
h1 a, 
h2 a,
h3 a,
h4 a,
#site-title a {
    text-decoration:none;
}
h4 a {
    padding:.25em 0;
}
footer {
    a {
        text-decoration: none;
    }
}

/* !---------- Forms ---------- */
fieldset {
    border:0;
    padding:0;
    
    legend {
        font-size:1.5em;
        line-height:1em;
        margin:1em 0 0 ;
    }
    input.textinput {
        margin-bottom:1em;
    }
    label {
        display:block;
    }
}
#search-container {
    float:right;
    font-size: .9em;
    padding: 1em 0 0 1em;
    margin:0;

    input {
        margin:0 0 0 .5em;
    }
    a {
        float:right;
        font-size: 1em;
        padding: 1em 0em;
    }
    h3 {
        text-transform:uppercase;
        font-size:1em;
        margin:0;
    }       
}       
    
#content {
    fieldset {
        display:block;
        clear:both;
    }
    .inputs {
        overflow:hidden;
        zoom:1;
    }
    .radioinputs {
        label {
            display:block;
            float:left;
            width:48%;
            clear:none;
        }
    }
    .search-entry {
        select {
            margin-bottom:.5em;
        }
    }
    #submit_search {
        margin:.5em 0 0 458px;
        }   
    }
#advanced-search-form {
    .field {
        border-bottom:1px solid $grey-light;
        padding:0.75em 0;
        overflow:hidden;
        width:100%;
        
        label {
            float:left;
            width:25%;
            font-weight:normal;
            clear:left;
        }
        .label {
            float:left;
            width:25%;
            font-weight:normal;
            clear:left;
        }
        .textinput, select {
            float:right;
            width:85%;
            background: $white;
        }
        select {
            width: 86%;
        }
        button {
            float:right;
            margin-top:.5em;
        }   
        input {
            width:85%;
            float:right;
        }
    }
    #submit_search_advanced {
        float:right;
        width:10%;
        margin-top:.5em;
    }
}
  
/* !---------- Tables ---------- */
table {
    width:100%;
}
th,
td {
    border-bottom:1px solid $grey-light;
    margin:0;
    padding:0.5em 0;
}
th {
    border-width:3px;
    text-align:left;
}


/* !---------- Reusable Classes ---------- */
.navigation {
    list-style:none;  
    li {
        display:inline;
    }
    a {
        text-decoration:none;
    }
}
.show {
    padding-left: 5px;
}

/* !---------- Navigation ---------- */
#top-nav {
    width:100%;
    border-top:1px solid $grey-light;
    ul {
        width:100%;
        float:left;
        padding:.5em 0 0 0;
        position:relative;
        display:inline-table;
        &:after {
            content:"";
            clear:both;
            display:block;
        }
        ul {
            position:absolute;
            li {
                float:none;
                position:relative;
                padding-left:.5em;
                background-color:lighten($grey-light, 5%);
                background-image:none;
                border-bottom:1px solid $grey-super-light;

                &:hover {
                    background-color:($grey-light);
                }
            }
            ul {
                position: absolute;
                left:100%;
                top:0;
            }
        }
        li {
            float:left;
            padding: .5em 2em .5em 0;
            display:block;
            /*background: url('../images/nav-bg.gif');
            background-position: left center;
            background-repeat:no-repeat;*/
            &:hover > ul {
                display: block;
                position:absolute;
                width: 205px;
            }
            a {
                display: block;
                text-decoration: none;
            }
        }
        ul {
            display:none;
        }
    }
}

.secondary-nav {
    margin:0;
    width:65%;
    float:left;
    overflow:hidden;
    padding-bottom:1em;

    ul {
        margin:0;
        display:inline; 
        li {
            float:left;
            padding:.5em 2em .5em 0;

            a {
                float:left;
                display:block;
                padding:6px 0;
                color:$grey-dark;

                &:visited {
                    color:$grey-dark;
                }
                &:hover {
                    color:$purple-main;
                }
            }           
        }
        li.active {
            a {color:$purple-dark; font-weight: bold; padding: .5em .5em .5em 0;}
        }
    }
}
.pagination {
    width:65%;
    float:left;
    list-style-type:none;
    margin:.5em 0 1em 0;
    padding-left:0;
    li {
        display:block;
        float:left;
        padding:.5em;
        #page {
            width:50px;
            text-align:right;
        }
    }
}
#sort-links{
    width:35%;
    float:left;
    padding:.5em 0;


    .sort-label {   
        float: left;
        padding:.5em .5em .5em 0;
    }
    #sort-links-list {
        float:right;
        padding:.5em 0 .5em .5em;
        text-decoration: none;
        display: block;
        margin:0;

        li{
            padding:0 .75em 0 1em;
            display:block;
            float:left;

            a{text-decoration:none;}
        }
    }
}
#bottom-nav .navigation {
    padding:0;
    margin:0 0 10px 0;
    width:100%;
    float:left;
    a {
    text-decoration: none;
    }
    li {
        padding-right:20px;
        text-decoration: none;
        display:block;
        float:left;

        ul {
            display:none;
        }
    }  
}

/* !---------- Browse and Item Pages ---------- */
.items.show #content {
    h1 {
        text-transform: none;
        letter-spacing: 0;
    }
    .element-set {
        padding:.5em 0;
    }
}
.item {
    width:100%;
    padding:0;
    margin:0;
    clear:both;
    padding-bottom:.75em;
    .item-meta {
        float:left;
        width:100%;
    }
    .item-img {
        padding-left:9px;
        float:right;
    }
}
.item-pagination {
    float:left;
    font-size:.9em;
    width:auto;
    padding:0;
    margin:1em 0;
    li{
        float:left;
        display:inline;
        padding:0 .5em;
    }
    a {
        padding:0 .5em 0 0;
    }
}
.hentry {
    margin:18px 0;
}
.item-description {
    display:block;
    margin:0 0 1em;
}

/* !---------- Simple Pages Styles ---------- */
.page #primary {
    float:left;
    width:100%;
    clear:none;

    h1 {
        margin:0 0 1em;
    }
}
#simple-pages-breadcrumbs {
    margin-bottom: 1.5em;
    font-weight: bold;
}

/* !---------- Collections ---------- */
.collection {
    margin:1em 0;
    padding:1em 0;
    border-bottom:1px solid $grey-light;
    ul {
        margin: 0 0 1em 1em;
    }
}

/* !---------- Exhibit Styles ---------- */

.exhibit {
    clear:both;
}
.exhibits .browse .exhibit{
    margin-bottom: 1em;
    padding: .5em 0;
    h3 {
        text-transform: uppercase;
        padding-top: .5em;
        a {
            text-decoration: none;
        }
    }
}
.exhibits.tags #secondary-nav{
    @extend .secondary-nav;
}
.exhibits.summary {
    p, .tags{
        margin-bottom: 1em;
    }
    
    #primary {
        width:70%;
        float:left;
        padding-right:5%;
        padding-bottom:1em;
    }
    #exhibit-pages {
        width:25%;
        float:left;

        ul {
            margin-left:0;
            padding-left:0;
            font-size: $font-size-main * 1.1;
            list-style-type: none;
            border-top: solid 1px $background-color;

            li {
                padding:.5em 0 .5em .5em;
                border-bottom: solid 1px $background-color;
                background-color:lighten($grey-light, 5%);
            
                a{
                    text-decoration: none;
                }
                ul {
                    list-style-type: square;
                    border-top:none;
                    padding-left:1.5em;
                    
                    li{
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

}

#exhibit-pages {
    overflow: hidden;
    zoom:1;

    ul{
        margin-left:0;
        li {
            ul {
                padding-left:0;
                padding-right:10%;
            }
        }
    }
}
.exhibit-page {
    overflow:hidden;
    padding:0;
}
.exhibits.show {
    #exhibit-page-navigation {
        clear:both;
        margin-bottom:1em;
        float:right;
        
        .next-page {
                margin-left:2em;
        }
    }
    .exhibit-page-nav {
        clear:left;
        float:left;
        width:100%;
        border-bottom:1px solid $grey-light;    
        padding:0 1em 0 0;
        margin-bottom:.5em;
        margin-left:0;

        li {
            float:none;
            display:block;
            padding:0 2px 0 0;
            margin:0;
            text-transform:uppercase;

            .exhibit-title {
               @extend #site-title;
               padding:0;
               font-size: $font-size-main *2.5;
               letter-spacing: .05em;
            }
            ul {
                padding-top: 1.5em;
                margin-left:-15px;
                float:left;
                font-size: $font-size-main * 1.1;
                li {
                    text-transform:none;
                    display:block;
                    float:left;
                }
            }
            a {
                display:inline;
                padding:5px 1em .5em 0;
                text-decoration:none;
                color: darken($purple-super-light, 10%);

                &:hover {
                    color: $purple-main;
                }
                &:active {
                    color: $purple-light;
                }
            }

            &.current {
                a {
                    text-decoration:none;
                    font-weight:bold;
                }
            }
        }
    }
    #content {
        h1 {
            text-transform: none;
            font-size: $font-size-main * 2;
            letter-spacing: 0em;
            padding:0;
            color:$grey-dark;
            border-bottom:2px solid $white;
            width:70%;
            float:left;
        }
    }
    #exhibit-child-pages {
        width: 30%;
        float: left;
        li {
            display: block;
            float: right;
            padding-bottom:.5em;
            border-bottom: none;
            font-size: $font-size-main * 1.1;
        }

    }

    .exhibit-item {
        overflow: hidden;
        a {
            text-decoration: none;
        }
    }
    a img {
        border:none;
    }
    .gallery-thumbnails-text-bottom {
        clear:both;
        .primary .exhibit-item  {
            margin-right:9px;
        }
    }
}




/* !---------- Microformats ---------- */
.hTagcloud {
    width:100%;
    float:left;

    ul {
        list-style:none;
        width:100%;
        float:left;
        margin-left:0;
        padding-left:0;
        li {
            display:inline;
        }
        .popular,
        .-popular {
            font-size:120%;
            a, a:visited {
                color: #ccc;
            }
            a:hover {
                color: #4B0049;
            }
        }
        .v-popular {
            font-size:140%;
            a, a:visited {
                color: #bbb;
            }
            a:hover {
                color: #5B175A;
            }
        }
        .vv-popular {
            font-size:180%;
            a, a:visited {
                color: #bebebe;
            }
            a:hover {
                color: #6C2E6A;
            }
        }
        .vvv-popular {
            font-size:220%;
            a, a:visited {
                color: #b1b1b1;
            }
            a:hover {
                color: #7C467B;
            }
        }
        .vvvv-popular {
            font-size:260%;
            a, a:visited {
                color: #a3a3a3;
            }
            a:hover {
                color: #8C5D8B;
            }
        }
        .vvvvv-popular {
            font-size:300%;
            a, a:visited {
                color: #959595;
            }
            a:hover {
                color: #9D749C;
            }
        }
        .vvvvvv-popular {
            font-size:320%;
            a, a:visited {
                color: #888;
            }
            a:hover {
                color: #AD8BAC;
            }
        }
        .vvvvvvv-popular {
            font-size:340%;
            a, a:visited {
                color: #7a7a7a;
            }
            a:hover {
                color: #BEA2BD;
            }
        }
        .vvvvvvvv-popular {
            font-size:360%;
            a, a:visited {
                color: #6d6d6d;
            }
            a:hover {
                color: #CEB9CD;
            }
        }
    }
}

@import "print";





